<style lang="scss" scoped>
</style>

<template>
  <div>
    <p @click="skillAdd" class="menu__button">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Skill
    </p>
    <p @click="save" class="menu__button">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Character
    </p>
    <p @click="load" class="menu__button">
      <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> Load Character
    </p>
    <p @click="download" class="menu__button">
      <i class="fa fa-picture-o" aria-hidden="true"></i> Capture
    </p>

    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="loadFile"
        @change="onLoadFile($event)"
        name="progress"
        class="create--load"
      >
    </form>
  </div>
</template>

<script>
import { saveAs } from "file-saver";
import html2canvas from "html2canvas";

export default {
  name: "Actions",
  mounted: function() {},
  computed: {
    profile: function() {
      return this.$store.state.create.data.profile;
    }
  },
  methods: {
    skillAdd: function() {
      this.$store.dispatch("create/skill", {
        to: "add"
      });
    },
    save() {
      let name =
        this.profile.name !== "" ? this.profile.name : "Arena-Resources";
      let fileName = name + ".ar";
      let packet = {
        version: process.env.VUE_APP_VERSION,
        data: this.$store.state.create.data,
        theme: this.$store.state.create.theme,
        preset: this.$store.state.create.preset
      };
      let json = JSON.stringify(packet);
      let encode = btoa(json);
      let file = new File([encode], fileName, { type: "text/animerumble" });
      saveAs(file, fileName);
    },
    download() {
      let name =
        this.profile.name !== "" ? this.profile.name : "Arena-Resources";
      let fileName = name + ".png";
      const capture = document.getElementById("capture");
      html2canvas(capture, { useCORS: true, scale: 2 }).then(canvas => {
        canvas.toBlob(function(blob) {
          saveAs(blob, fileName);
        });
      });
    },
    load() {
      this.$refs.loadFile.click();
    },
    onLoadFile(event) {
      //Load
      let file = event.target.files[0];
      let extension = file.name.split(".");
      extension = extension[extension.length - 1];
      let self = this;
      if (extension === "ar" && file.size / 1000 / 1000 <= 10) {
        var reader = new FileReader();
        let test = reader.readAsText(file);
        reader.onload = function(event) {
          let decode = atob(event.target.result);
          let result = JSON.parse(decode);

          if (result.version === undefined) {
            //Legacy Convert
            if (result.profile.appearances === undefined) {
              result.profile.appearances = {
                border: true
              };
            }
            result.skills.forEach(x => {
              if (x.appearances === undefined) {
                x.appearances = {
                  border: true
                };
              }
            });

            //Legacy Convert v2
            let legacy = { profile: result.profile, skills: result.skills };

            let format = {
              data: {
                profile: {
                  name: legacy.profile.name ? legacy.profile.name : "",
                  picture: legacy.profile.picture ? legacy.profile.picture : "",
                  pictures: legacy.profile.pictures
                    ? legacy.profile.pictures
                    : "",
                  author: legacy.profile.author ? legacy.profile.author : "",
                  description: legacy.profile.description
                    ? legacy.profile.description
                    : ""
                },
                skills: legacy.skills.map(x => {
                  return {
                    name: x.name ? x.name : "",
                    picture: x.picture ? x.picture : "",
                    description: x.text ? x.text : "",
                    cooldown: x.cooldown ? x.cooldown : 0,
                    energy: {
                      a: x.energy.a ? x.energy.a : 0,
                      b: x.energy.i ? x.energy.i : 0,
                      c: x.energy.s ? x.energy.s : 0,
                      d: x.energy.w ? x.energy.w : 0,
                      e: x.energy.r ? x.energy.r : 0,
                      amount: x.amount ? x.amount : ""
                    },
                    classes: x.classes ? x.classes : ""
                  };
                })
              },
              theme: {
                border: true,
                classes: true,
                background: "#fff",
                font: "",
                fontColor: "",
                contentColor: "",
                energy: {
                  color: {
                    a: "#11DD2D",
                    b: "#F0000A",
                    c: "#01A9D5",
                    d: "#ffffff",
                    e: "#222222"
                  },
                  type: "color" //Color or Number
                }
              },
              preset: {
                label: {
                  author: "Author",
                  pictures: "Pictures",
                  skill: "Skill",
                  energy: "Energy",
                  cooldown: "Cooldown",
                  classes: "Classes"
                },
                classes: [
                  "Instant",
                  "Action",
                  "Control",
                  "Melee",
                  "Ranged",
                  "Mental",
                  "Energy",
                  "Strategic"
                ]
              }
            };

            self.$store.dispatch("create/load", {
              data: format.data,
              theme: format.theme,
              preset: format.preset
            });
            self.$store.dispatch("create/renderKey");

            return;
          }

          self.$store.dispatch("create/load", {
            data: result.data,
            theme: result.theme,
            preset: result.preset
          });
          self.$store.dispatch("create/renderKey");
        };
      }
    }
  }
};
</script>
