<style lang="scss" scoped>
.menu__classes {
  max-width: 250px !important;
  width: 100%;

  i {
    cursor: pointer;
    &:hover {
      color: #cf1720;
    }
  }
}
</style>

<template>
  <div>
    <div class="menu__tab d-flex flex-row align-items-center">
      <span class="l--label">Classes</span>
      <span
        :class="theme.classes === true ? 'l--tab active' : 'l--tab'"
        @click="changeClasses(true)"
      >On</span>
      <span
        :class="theme.classes === false ? 'l--tab active' : 'l--tab'"
        @click="changeClasses(false)"
      >Off</span>
    </div>

    <div class="d-flex flex-column" v-if="theme.classes">
      <div class="menu__input--button d-flex flex-row align-items-center">
        <input placeholder="New Class" v-model="newClass">
        <span class="l--label" @click="add">Add</span>
      </div>

      <div class="menu__classes d-flex flex-row flex-wrap">
        <span v-for="(item, index) in classes" :key="index" class="menu__label">
          {{item}}
          <i @click="remove(index)" class="fa fa-times-circle" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Classes",
  data: function() {
    return {
      newClass: ""
    };
  },
  computed: {
    classes: function() {
      return this.$store.getters["create/classes"];
    },
    theme: function() {
      return this.$store.getters["create/theme"];
    }
  },
  methods: {
    changeClasses(option) {
      this.$store.dispatch("create/theme", {
        to: "change",
        component: "classes",
        value: option
      });
    },
    add() {
      this.$store.dispatch("create/classes", {
        to: "add",
        value: this.newClass
      });
      this.newClass = "";
    },
    remove(index) {
      this.$store.dispatch("create/classes", {
        to: "remove",
        value: index
      });
    }
  }
};
</script>
