<style lang="scss" scoped>
.menu__energy {
  background: #222;
  display: block;
  height: 10px;
  width: 10px;
  margin-left: 2px;
  border: 1px solid #222;
  margin-right: 5px;
}

.menu__picker {
  font-size: 14px;
  .l--button {
    color: #222;
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
</style>

<template>
  <div>
    <div class="menu__tab d-flex flex-row align-items-center">
      <span class="l--label">Skill</span>
      <span
        :class="type === 'color' ? 'l--tab active' : 'l--tab'"
        @click="changeType('color')"
      >Color</span>
      <span
        :class="type === 'number' ? 'l--tab active' : 'l--tab'"
        @click="changeType('number')"
      >Number</span>
    </div>

    <div class="d-flex flex-column" v-if="type === 'color'">
      <div class="menu__picker d-flex flex-column">
        <div class="mb-2 d-flex flex-row align-items-center">
          <span class="menu__energy" :style="'background: '+color.a"></span>
          <span class="l--button" @click="open.a = !open.a">
            <i class="fa fa-filter" aria-hidden="true"></i> Change Color
          </span>
        </div>
        <sketch-picker :value="color.a" @input="updateValue($event, 'a')" v-show="open.a"/>
      </div>

      <div class="menu__picker d-flex flex-column">
        <div class="mb-2 d-flex flex-row align-items-center">
          <span class="menu__energy" :style="'background: '+color.b"></span>
          <span class="l--button" @click="open.b = !open.b">
            <i class="fa fa-filter" aria-hidden="true"></i> Change Color
          </span>
        </div>
        <sketch-picker :value="color.b" @input="updateValue($event, 'b')" v-show="open.b"/>
      </div>

      <div class="menu__picker d-flex flex-column">
        <div class="mb-2 d-flex flex-row align-items-center">
          <span class="menu__energy" :style="'background: '+color.c"></span>
          <span class="l--button" @click="open.c = !open.c">
            <i class="fa fa-filter" aria-hidden="true"></i> Change Color
          </span>
        </div>
        <sketch-picker :value="color.c" @input="updateValue($event, 'c')" v-show="open.c"/>
      </div>

      <div class="menu__picker d-flex flex-column">
        <div class="mb-2 d-flex flex-row align-items-center">
          <span class="menu__energy" :style="'background: '+color.d"></span>
          <span class="l--button" @click="open.d = !open.d">
            <i class="fa fa-filter" aria-hidden="true"></i> Change Color
          </span>
        </div>
        <sketch-picker :value="color.d" @input="updateValue($event, 'd')" v-show="open.d"/>
      </div>

      <div class="menu__picker d-flex flex-column">
        <div class="mb-2 d-flex flex-row align-items-center">
          <span class="menu__energy" :style="'background: '+color.e"></span>
          <span class="l--button" @click="open.e = !open.e">
            <i class="fa fa-filter" aria-hidden="true"></i> Change Color
          </span>
        </div>
        <sketch-picker :value="color.e" @input="updateValue($event, 'e')" v-show="open.e"/>
      </div>
    </div>
  </div>
</template>

<script>
import { Sketch } from "vue-color";

export default {
  name: "Energy",
  components: {
    "sketch-picker": Sketch
  },
  data: function() {
    return {
      open: { a: false, b: false, c: false, d: false, e: false }
    };
  },
  computed: {
    color: function() {
      return this.$store.getters["create/theme"].energy.color;
    },
    type: function() {
      return this.$store.getters["create/theme"].energy.type;
    },
    author: {
      get: function() {
        return this.$store.getters["create/label"].author;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "author",
          value: newValue
        });
      }
    }
  },
  methods: {
    changeType(type) {
      this.$store.dispatch("create/energy", {
        to: "type",
        value: type
      });
    },
    updateValue(e, energyType) {
      this.$store.dispatch("create/energy", {
        to: "change",
        component: energyType,
        value: e.hex
      });
    }
  }
};
</script>
