<style lang="scss" scoped>
</style>

<template>
  <div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Author</span>
      <input placeholder="Author" v-model="author">
    </div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Pictures</span>
      <input placeholder="Pictures" v-model="pictures">
    </div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Skill</span>
      <input placeholder="Skill" v-model="skill">
    </div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Cooldown</span>
      <input placeholder="Cooldown" v-model="cooldown">
    </div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Energy</span>
      <input placeholder="Energy" v-model="energy">
    </div>
    <div class="menu__input d-flex flex-row align-items-center">
      <span class="l--label">Classes</span>
      <input placeholder="Classes" v-model="classes">
    </div>
  </div>
</template>

<script>
export default {
  name: "Labels",
  mounted: function() {},
  computed: {
    author: {
      get: function() {
        return this.$store.getters["create/label"].author;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "author",
          value: newValue
        });
      }
    },
    pictures: {
      get: function() {
        return this.$store.getters["create/label"].pictures;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "pictures",
          value: newValue
        });
      }
    },
    skill: {
      get: function() {
        return this.$store.getters["create/label"].skill;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "skill",
          value: newValue
        });
      }
    },
    cooldown: {
      get: function() {
        return this.$store.getters["create/label"].cooldown;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "cooldown",
          value: newValue
        });
      }
    },
    energy: {
      get: function() {
        return this.$store.getters["create/label"].energy;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "energy",
          value: newValue
        });
      }
    },
    classes: {
      get: function() {
        return this.$store.getters["create/label"].classes;
      },
      set: function(newValue) {
        this.$store.dispatch("create/label", {
          to: "change",
          component: "classes",
          value: newValue
        });
      }
    }
  },
  methods: {}
};
</script>
