<style lang="scss" scoped>
</style>

<template>
  <div>
    <div class="menu__tab d-flex flex-row align-items-center">
      <span class="l--label">Border</span>
      <span
        :class="theme.border === true ? 'l--tab active' : 'l--tab'"
        @click="changeBorder(true)"
      >On</span>
      <span
        :class="theme.border === false ? 'l--tab active' : 'l--tab'"
        @click="changeBorder(false)"
      >Off</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Labels",
  mounted: function() {},
  computed: {
    theme: function() {
      return this.$store.getters["create/theme"];
    }
  },
  methods: {
    changeBorder(option) {
      this.$store.dispatch("create/theme", {
        to: "change",
        component: "border",
        value: option
      });
    }
  }
};
</script>
