<style lang="scss">
.create__label {
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {    
    padding-top: 6px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }
}
.create__label--icon {
  color: #fff;
  cursor: pointer;
}

.create--popover {
  p.l--option {
    margin-bottom: 0px;
    font-size: 8px;
    background: #888;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
  }
}

.create__text {
  width: 100%;
  font-size: 14px;
  padding: 0px;
  height: 20px;

  &.small {
    font-size: 11px;
    font-weight: 400;
    padding-left: 5px;
  }

  &.tiny {
    padding-top: 1px;
    font-size: 10px;
    color: #808080;
    height: 15px;
  }
}
</style>

<template>
  <div class="create__input d-flex flex-row">
    <span class="create__label sublabel">{{label.classes}}:</span>
    <v-popover offset="0" placement="bottom" trigger="click">
      <input placeholder="Enter classess here" class="create__text tiny" v-model="classes">
      <template slot="popover">
        <div class="create--popover d-flex flex-row flex-wrap">
          <p
            @click="add(item)"
            class="l--option"
            v-for="(item, index) in preset"
            :key="index"
          >{{item}}</p>
        </div>
      </template>
    </v-popover>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Classes",
  props: {
    order: Number
  },
  computed: {
    label: function() {
      return this.$store.getters["create/label"];
    },
    classes: {
      get: function() {
        return this.$store.getters["create/skills"][this.order].classes;
      },
      set: function(newValue) {
        this.$store.dispatch("create/skill", {
          to: "change",
          index: this.order,
          component: "classes",
          value: newValue
        });
      }
    },
    preset: function() {
      return this.$store.getters["create/preset"].classes;
    }
  },
  methods: {
    add: function(val) {
      if (this.classes === "") {
        this.classes = val;
        return;
      }
      this.classes = this.classes + ", " + val;
    }
  },
  data: function() {
    return {};
  }
};
</script>
