<style lang="scss" scoped>
.create__content {
  padding: 5px;
  // border-top: 1px dotted #999;
  // border-bottom: 1px dotted #999;
  background: #fafafa;

  background-image: url("/assets/create/dottedborder.png"),
    url("/assets/create/dottedborder.png");
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-color: #fafafa;
}
</style>

<template>
  <div class="create__content">
    <Pictures :parent="parent" :order="order" :content="picture"/>
    <Editable :content="description" @update="update($event)" :key="renderKey"/>
  </div>
</template>

<script>
import Editable from "@/components/create/editor/Editable.vue";
import Pictures from "@/components/create/editor/Pictures.vue";

export default {
  name: "Content",
  components: {
    Editable,
    Pictures
  },
  props: {
    order: Number,
    parent: String
  },
  created: function() {},
  computed: {
    renderKey: function() {
      return this.$store.getters["create/renderKey"];
    },
    picture: function() {
      if (this.parent === "skill") {
        return this.$store.state.create.data.skills[this.order].picture;
      } else {
        return this.$store.state.create.data.profile.picture;
      }
    },
    description: function() {
      if (this.parent === "skill") {
        return this.$store.state.create.data.skills[this.order].description;
      } else {
        return this.$store.state.create.data.profile.description;
      }
    }
  },
  data: function() {
    return {};
  },
  methods: {
    update(newValue) {
      if (this.parent === "skill") {
        this.$store.dispatch("create/skill", {
          to: "change",
          index: this.order,
          component: "description",
          value: newValue
        });
      }
      if (this.parent === "profile") {
        this.$store.dispatch("create/profile", {
          to: "change",
          index: this.order,
          component: "description",
          value: newValue
        });
      }
    }
  }
};
</script>
