<style lang="scss" scoped>
.create__label {
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {
    padding-top: 2px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }

  &:hover {
    .create__label--icon {
      color: #555;
    }
  }
}
.create__label--icon {
  color: #fff;
  cursor: pointer;
}
</style>

<template>
  <div class="create__input d-flex flex-row align-items-center">
    <p class="create__label d-flex flex-row">
      <span class="l--underline pr-5">{{label.cooldown}}:</span>
      <span class="pr-5">{{cooldown === 0 ? 'None' : cooldown}}</span>
      <span class="create__label--icon pr-5">
        <i @click="increment" class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
      <span class="create__label--icon">
        <i @click="decrement" class="fa fa-minus-circle" aria-hidden="true"></i>
      </span>
    </p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Cooldown",
  props: {
    order: Number
  },
  computed: {
    label: function() {
      return this.$store.getters["create/label"];
    },
    cooldown: function() {
      return this.$store.getters["create/skills"][this.order].cooldown;
    }
  },
  methods: {
    increment: function() {      
      let cooldown = this.cooldown + 1;
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "cooldown",
        value: cooldown
      });
    },
    decrement: function() {
      let cooldown = this.cooldown;
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "cooldown",
        value: cooldown > 0 ? cooldown - 1 : 0
      });
    }
  },
  data: function() {
    return {};
  }
};
</script>
