<style lang="scss" scoped>
[contenteditable="true"]:empty::before {
  content: attr(placeholder);
  color: #aaa;
  cursor: text;
}
.create__textarea {
  width: 100%;
  min-height: 75px;
  font-size: 11px;
  display: block; /* For Firefox */
}
.create__textarea:focus {
  outline: none;
}
</style>

<template>
  <div
    contenteditable="true"
    class="create__textarea"
    placeholder="Enter text here..."
    @input="update"
  >{{content}}</div>
</template>

<script>
export default {
  name: "Editable",
  props: { content: String },
  mounted: function() {
    this.$el.innerHTML = this.content;
  },
  methods: {
    rerender: function(payload) {
      this.$el.innerHTML = this.content;
    },
    update: function(event) {
      this.$emit("update", event.target.innerHTML);
    }
  }
};
</script>
