<style lang="scss" scoped>
.create__label {
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {
    padding-top: 2px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }

  &:hover {
    .create__label--icon {
      color: #555;
    }
  }
}
.create__label--icon {
  color: #fff;
  cursor: pointer;
}
.create__input {
  margin-top: 5px;
  margin-bottom: 3px;
}

.create__popover--energy {
  .create__energy {
    margin: 0 5px;
  }

  i {
    color: #555;
    padding: 0 2px;
    cursor: pointer;
  }

  input{
    font-size: 12px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
  }
}
</style>

<template>
  <div class="create__input d-flex flex-row align-items-center">
    <p class="create__label d-flex flex-row align-items-end">
      <v-popover offset="0" placement="bottom" trigger="click">
        <span class="create__label--icon pr-5">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
        </span>
        <span class="l--underline pr-5">{{label.energy}}:</span>
        <span>{{energy === "" ? 'None' : energy}}</span>
        <template slot="popover">
          <div class="create--popover create__popover--energy d-flex flex-column">
            <input placeholder="Enter amount..." v-model="energy">
          </div>
        </template>
      </v-popover>
    </p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "EnergyNumber",
  props: {
    order: Number
  },
  computed: {
    label: function() {
      return this.$store.getters["create/label"];
    },
    energy: {
      get: function() {
        return this.$store.getters["create/skills"][this.order].energy.amount;
      },
      set: function(newValue) {
        this.$store.dispatch("create/skill", {
          to: "change",
          index: this.order,
          component: "energy",
          energyType: "amount",
          value: newValue
        });
      }
    }
  },
  methods: {
    increment: function() {
      console.log(this.energy);
      let energy = this.energy + 1;
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "energy",
        energyType: "amount",
        value: energy
      });
    },
    decrement: function() {
      let energy = this.energy;
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "energy",
        energyType: "amount",
        value: energy > 0 ? energy - 1 : 0
      });
    }
  },
  data: function() {
    return {};
  }
};
</script>
