<style lang="scss" scoped>
.create__label {
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {
    padding-top: 2px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }

  &:hover {
    .create__label--icon {
      color: #555;
    }
  }
}
.create__label--icon {
  color: #fff;
  cursor: pointer;
}

.create__popover--energy {
  .create__energy {
    margin: 0 5px;
  }

  i {
    color: #555;
    padding: 0 2px;
    cursor: pointer;
  }
}

.create__energy {
  background: #222;
  display: block;
  height: 10px;
  width: 10px;
  margin-left: 2px;
  border: 1px solid #222;
}
</style>

<template>
  <div class="create__input d-flex flex-row align-items-center w-50">
    <v-popover offset="0" placement="bottom" trigger="click">
      <div class="create__label d-flex flex-row align-items-center justify-content-end">
        <span class="create__label--icon pr-5">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
        </span>
        <span class="l--underline pr-5">{{label.energy}}:</span>
        <span v-if="total === 0">None</span>
        <div class="d-flex flex-row">
          <span
            class="create__energy"
            :style="'background: '+color.a"
            v-for="(e, i) in energy.a"
            :key="'a'+i"
          ></span>
          <span
            class="create__energy"
            :style="'background: '+color.b"
            v-for="(e, i) in energy.b"
            :key="'b'+i"
          ></span>
          <span
            class="create__energy"
            :style="'background: '+color.c"
            v-for="(e, i) in energy.c"
            :key="'c'+i"
          ></span>
          <span
            class="create__energy"
            :style="'background: '+color.d"
            v-for="(e, i) in energy.d"
            :key="'d'+i"
          ></span>
          <span
            class="create__energy"
            :style="'background: '+color.e"
            v-for="(e, i) in energy.e"
            :key="'e'+i"
          ></span>
        </div>
      </div>
      <template slot="popover">
        <div class="create--popover create__popover--energy d-flex flex-column">
          <span class="mb-1 d-flex flex-row align-items-center justify-content-center">
            <span class="create__energy" :style="'background: '+color.a"></span>
            <i @click="increment('a')" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i @click="decrement('a')" class="fa fa-minus-circle" aria-hidden="true"></i>
          </span>
          <span class="mb-1 d-flex flex-row align-items-center justify-content-center">
            <span class="create__energy" :style="'background: '+color.b"></span>
            <i @click="increment('b')" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i @click="decrement('b')" class="fa fa-minus-circle" aria-hidden="true"></i>
          </span>
          <span class="mb-1 d-flex flex-row align-items-center justify-content-center">
            <span class="create__energy" :style="'background: '+color.c"></span>
            <i @click="increment('c')" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i @click="decrement('c')" class="fa fa-minus-circle" aria-hidden="true"></i>
          </span>
          <span class="mb-1 d-flex flex-row align-items-center justify-content-center">
            <span class="create__energy" :style="'background: '+color.d"></span>
            <i @click="increment('d')" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i @click="decrement('d')" class="fa fa-minus-circle" aria-hidden="true"></i>
          </span>
          <span class="mb-1 d-flex flex-row align-items-center justify-content-center">
            <span class="create__energy" :style="'background: '+color.e"></span>
            <i @click="increment('e')" class="fa fa-plus-circle" aria-hidden="true"></i>
            <i @click="decrement('e')" class="fa fa-minus-circle" aria-hidden="true"></i>
          </span>
        </div>
      </template>
    </v-popover>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Energy",
  props: {
    order: Number
  },
  computed: {
    label: function() {
      return this.$store.getters["create/label"];
    },
    theme: function() {
      return this.$store.getters["create/theme"];
    },
    color: function() {
      return this.$store.getters["create/theme"].energy.color;
    },
    energy: function() {
      return this.$store.getters["create/skills"][this.order].energy;
    },
    total: function() {
      let energy = this.$store.getters["create/skills"][this.order].energy;
      return energy.a + energy.b + energy.c + energy.d + energy.e;
    }
  },
  methods: {
    increment: function(energyType) {
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "energy",
        energyType: energyType,
        value: this.energy[energyType] + 1
      });
    },
    decrement: function(energyType) {
      this.$store.dispatch("create/skill", {
        to: "change",
        index: this.order,
        component: "energy",
        energyType: energyType,
        value: this.energy[energyType] > 0 ? this.energy[energyType] - 1 : 0
      });
    }
  },
  data: function() {
    return {};
  }
};
</script>
