<style lang="scss" scoped>
.create__image {
  margin-right: 7px;
  width: 75px;
  height: 75px;
  float: left;
}
</style>

<template>
  <div>
    <img
      class="create__image"
      :src="picture"
      :style="border ? 'border: 1px solid #222;' : 'border: none;'"
      @click="uploadPicture(parent, order)"
    >
    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event, upload.type, upload.index)"
        name="avatar"
        class="create--load"
      >
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Pictures",
  data: function() {
    {
      return {
        upload: {
          type: "",
          id: ""
        }
      };
    }
  },
  props: {
    order: Number,
    parent: String,
    content: String
  },
  computed: {
    picture: function() {
      let content = this.content;
      if (content === "") {
        return "/assets/create/placeholder.png";
      } else if (content === "loading") {
        return "/assets/create/loading.gif";
      } else {
        return content;
      }
    },
    border: function() {
      return this.$store.getters["create/theme"].border;
    }
  },
  methods: {
    setPicture(newValue, type, index = undefined) {
      if (type === "skill") {
        this.$store.dispatch("create/skill", {
          to: "change",
          index: index,
          component: "picture",
          value: newValue
        });
      } else if (type === "profile") {
        this.$store.dispatch("create/profile", {
          to: "change",
          component: "picture",
          value: newValue
        });
      }
    },
    uploadPicture(type, index) {
      this.upload.type = type;
      this.upload.index = index;
      this.$refs.uploadPicture.click();
    },
    onFileChanged(event, category, item) {
      let file = event.target.files[0];
      let type = this.upload.type;
      let index = this.upload.index;
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        // Loading;
        if (type === "skill") {
          this.setPicture("loading", "skill", index);
        } else if (type === "profile") {
          this.setPicture("loading", "profile");
        }

        //Upload
        const formData = new FormData();
        formData.append("avatar", file, file.name);
        console.log("hi", process.env.VUE_APP_API + "/create/upload");
        axios
          .post(process.env.VUE_APP_API + "/create/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            console.log(res.data.link);
            if (type === "skill") {
              this.setPicture(res.data.link, "skill", index);
            } else if (type === "profile") {
              this.setPicture(res.data.link, "profile");
            }
          });
      }
    }
  }
};
</script>
