<style lang="scss" scoped>
.create__label {
  padding-top: 2px;
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {
    padding-top: 1px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }
}
.create__label--icon {
  color: #555;
  cursor: pointer;
}

.create__card {
  padding: 5px;
}

.create__text {
  width: 100%;
  font-size: 14px;
  padding: 0px;
  height: 18px;
  padding-top: 2px;

  &.small {
    font-size: 11px;
    font-weight: 400;
    padding-left: 5px;
  }

  &.tiny {
    padding-top: 1px;
    font-size: 10px;
    color: #808080;
    height: 15px;
  }
}
</style>

<template>
  <div class="create__card w-75">
    <input placeholder="Name" class="create__text" v-model="name">
    <Content :parent="'profile'"/>
    <div class="create__footer d-flex flex-row">
      <div class="create__input d-flex flex-row w-50">
        <p class="create__label l--bold">{{label.author}}</p>
        <input placeholder="Your Name" class="create__text small" v-model="author">
      </div>
      <div class="create__input d-flex flex-row w-50">
        <p class="create__label l--bold">{{label.pictures}}</p>
        <input placeholder="Your Name" class="create__text small" v-model="pictures">
      </div>
    </div>
  </div>
</template>

<script>
import Content from "@/components/create/editor/Content.vue";

export default {
  name: "Profile",
  components: {
    Content
  },
  computed: {
    label: function() {
      return this.$store.getters["create/label"];
    },
    name: {
      get: function() {
        return this.$store.state.create.data.profile.name;
      },
      set: function(newValue) {
        this.$store.dispatch("create/profile", {
          to: "change",
          component: "name",
          value: newValue
        });
      }
    },
    author: {
      get: function() {
        return this.$store.state.create.data.profile.author;
      },
      set: function(newValue) {
        this.$store.dispatch("create/profile", {
          to: "change",
          component: "author",
          value: newValue
        });
      }
    },
    pictures: {
      get: function() {
        return this.$store.state.create.data.profile.pictures;
      },
      set: function(newValue) {
        this.$store.dispatch("create/profile", {
          to: "change",
          component: "pictures",
          value: newValue
        });
      }
    }
  },
  data: function() {
    return {};
  }
};
</script>
