<style lang="scss" scoped>
.create__label {
  font-size: 11px;
  &.skill {
    padding-right: 5px;
    padding-bottom: 1px;
  }
  &.sublabel {
    padding-top: 2px;
    font-size: 10px;
    color: #808080;
    padding-right: 5px;
  }
}
.create__label--icon {
  color: #fff;
  cursor: pointer;
}

.create__skill {
  &:hover {
    .create__label--icon {
      color: #555;
    }
  }
}

.create__card {
  padding: 5px;
}

.create__text {
  width: 100%;
  font-size: 14px;
  padding: 0px;
  height: 20px;

  &.small {
    font-size: 11px;
    font-weight: 400;
    padding-left: 5px;
  }

  &.tiny {
    padding-top: 1px;
    font-size: 10px;
    color: #808080;
    height: 15px;
  }
}

.mb-min {
  margin-bottom: -7px;
}
</style>

<template>
  <div class="create__card w-50">
    <div class="create__skill d-flex flex-row align-items-end">
      <p class="create__label skill">{{label.skill}}:</p>
      <input placeholder="Skill Name" class="create__text" v-model="name">
      <span class="create__label--icon pr-5">
        <i @click="skillRemove(order)" class="fa fa-times-circle" aria-hidden="true"></i>
      </span>
    </div>

    <Content :order="order" :parent="'skill'"/>
    <div class="mb-min d-flex flex-row justify-content-between">
      <Cooldown :order="order"/>
      <Energy :order="order" v-if="energyType === 'color'"/>
      <EnergyNumber :order="order" v-if="energyType === 'number'"/>
    </div>

    <Classes :order="order" v-if="theme.classes"/>
  </div>
</template>

<script>
import Content from "@/components/create/editor/Content.vue";
import Energy from "@/components/create/editor/Energy.vue";
import EnergyNumber from "@/components/create/editor/EnergyNumber.vue";
import Cooldown from "@/components/create/editor/Cooldown.vue";
import Classes from "@/components/create/editor/Classes.vue";

export default {
  name: "Skill",
  components: {
    Content,
    Energy,
    EnergyNumber,
    Cooldown,
    Classes
  },
  props: {
    order: Number
  },
  computed: {
    theme: function() {
      return this.$store.getters["create/theme"];
    },
    energyType: function() {
      return this.$store.getters["create/theme"].energy.type;
    },
    label: function() {
      return this.$store.getters["create/label"];
    },
    cooldown: function() {
      return this.$store.getters["create/skills"][this.order].cooldown;
    },
    name: {
      get: function() {
        return this.$store.getters["create/skills"][this.order].name;
      },
      set: function(newValue) {
        this.$store.dispatch("create/skill", {
          to: "change",
          index: this.order,
          component: "name",
          value: newValue
        });
      }
    }
  },
  data: function() {
    return {};
  },
  methods: {
    skillRemove(index) {
      this.$store.dispatch("create/skill", {
        to: "remove",
        index: index
      });
    }
  }
};
</script>
