<style>
.no-padding {
  padding: 0px;
}
</style>

<template>
  <div class="d-flex flex-row">
    <Menu></Menu>
    <Editor></Editor>
  </div>
</template>

<script>
// @ is an alias to /src
import Editor from "@/components/create/Editor.vue";
import Menu from "@/components/create/Menu.vue";

export default {
  name: "Create",
  components: {
    Editor,
    Menu
  }
};
</script>
