<style lang="scss" scoped>
.about {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  b {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.about__div {
  p.title {
    font-weight: 600;
  }
  p{
    font-size: 14px;
    margin-bottom: 10px;
  }  
}
</style>

<template>
  <modal name="about">
    <div class="about d-flex flex-column">
      <b>About Arena Resources</b>
      <div class="about__div">
        <p class="title">What is Arena Resources?</p>
        <p>That is a site which will provide different resources for people who want to engeage in different aspects of arena games in style of old Naruto-arena.com.</p>        
        <p>For now we are providing browser tool with which you can create your own character for different arena games.</p>
        <p>We highly value community feedback so if you have any idea how to improve character creation tool or have an idea about different tool/resource or just want to talk about how to make arena games better please share them in our <a href="https://discord.gg/f95GZHy" target="_blank">discord</a>.</p>
        <p>Beside that on this website you can also find news and list of any current and new arena project.</p>
      </div>    
      <div class="about__div mt-2">
        <p class="title">Credit</p>
        <p>TheTruthCelt - Original Idea, Community</p>
        <p>Leciel - Programming</p>      
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: "About",
  computed: {},
  methods: {}
};
</script>
