<style lang="scss" scoped>
.changelog {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  b {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.changelog__div {
  p {
    font-weight: 600;
  }
  // margin-bottom: 10px;
}
</style>

<template>
  <modal name="changelog">
    <div class="changelog d-flex flex-column">
      <b>Changelog</b>
      <div class="changelog__div">
        <p>23 April 2019</p>
        <ul>
          <li>Scrolling Bug Fix for Firefox</li>
          <li>Unable to add Cooldown Bug Fix</li>
        </ul>
        <p>9 April 2019</p>
        <ul>
          <li>Added Links to Discord, Arena Projects, Feedback, and v1 of CC Tool</li>
          <li>Allows toggle to hide Classes</li>
        </ul>
        <p>2 April 2019</p>
        <ul>
          <li>Arena Resources Character Creation Tool v2</li>
          <li>
            New Features Include:
            <ul>
              <li>Now Accomodate Shinobi Arena with Numbers for Energy instead of Colors</li>
              <li>Customize Label (e.g., Rename Energy to Chakra)</li>
              <li>Customize Energy Color</li>
              <li>Edit Classes Presets</li>
              <li>Cleaner look in general</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: "Changelog",
  computed: {},
  methods: {}
};
</script>
