<style lang="scss" scoped>
.create {
  max-width: 600px;
  width: 100%;
  background: #fff;
  // border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}

.create__skills {
  width: 100%;
}
.editor {
  padding: 80px 20px 80px 20px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: block !important;
}
.credit {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
}
</style>

<template>
  <div class="editor">
    <div class="create d-flex flex-column align-items-center" id="capture" ref="capture">
      <Profile/>
      <div class="create__skills d-flex flex-row flex-wrap">
        <Skill v-for="(skill, skillIn) in skills" :key="skillIn" :order="skillIn"/>
      </div>

      <p class="credit">Created on Arena-Resources.com</p>
    </div>

    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event, upload.category, upload.item)"
        name="avatar"
        class="create--load"
      >
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
import Skill from "@/components/create/editor/Skill.vue";
import Profile from "@/components/create/editor/Profile.vue";

export default {
  name: "Editor",
  components: {
    Skill,
    Profile
  },
  computed: {
    skills: function() {
      return this.$store.state.create.data.skills;
    }
  }
};
</script>
