<style lang="scss" scoped>
.header {
  min-height: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 0 #999;
  z-index: 10;
  padding: 0 20px;
  p,
  h1 {
    margin-bottom: 0px;
  }
  position: fixed;
  width: 100%;
}
.header__title {
  font-weight: 800;
  font-size: 20px;
  padding: 0 15px 0 0;
  color: #4a90e2;
}
.header__button {
  font-size: 14px;
  padding: 0 15px;
  cursor: pointer;
  color: #4a90e2;
  &:hover {
    opacity: 0.5;
  }
  a {
    color: #4a90e2;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
}
</style>

<template>
  <div class="header d-flex flex-row align-items-center">
    <h1 class="header__title">Arena Resources</h1>
    <p class="header__button" @click="changelog">Changelog</p>
    <p class="header__button">
      <a href="https://discord.gg/BRGMEBQ" target="_blank">Discord</a>
    </p>
    <p class="header__button">
      <a href="https://discord.gg/4w2Xud" target="_blank">Arena Projects</a>
    </p>
    <p class="header__button">
      <a href="https://discord.gg/XHAvDxs" target="_blank">Give Feedback</a>
    </p>
    <p class="header__button" @click="about">About</p>
    <p class="header__button">
      <a href="/v1" target="_blank">v1</a>
    </p>

    <Changelog/>
    <About/>
  </div>
</template>

<script>
import Changelog from "@/components/create/header/Changelog.vue";
import About from "@/components/create/header/About.vue";

export default {
  name: "Header",
  components: {
    Changelog,
    About
  },
  methods: {
    changelog: function() {
      this.$modal.show("changelog");
    },
    about: function() {
      this.$modal.show("about");
    }
  }
};
</script>
