<style lang="scss">
.menu {
  height: 100vh;
  min-width: 240px;
  padding: 50px 10px 40px 10px;
  background: #fff;
  overflow-y: scroll;
  display: block !important;
}

p {
  margin-bottom: 0px;
}

.menu__label {
  color: #222;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.menu__input {
  margin-bottom: 5px;
  font-size: 14px;
  .l--label {
    color: #222;
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  input {
    width: 100%;
    border: 1px solid #e1e1e1;
    padding: 0 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.menu__input--button {
  margin-bottom: 5px;
  font-size: 14px;
  .l--label {
    color: #222;
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    padding: 0 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #4a90e2;
      border: 1px solid #4a90e2;
    }
  }
  input {
    width: 100%;
    border: 1px solid #e1e1e1;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.menu__tab {
  margin-bottom: 5px;
  font-size: 14px;
  .l--label {
    color: #222;
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .l--tab {
    cursor: pointer;
    color: #222;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 0 10px;
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.active {
      color: #fff;
      background: #4a90e2;
      border: 1px solid #4a90e2;
    }
  }
}

.menu__button {
  font-size: 14px;
  margin-bottom: 5px;
  color: #222;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #4a90e2;
    border: 1px solid #4a90e2;
  }
}

.menu__headline {
  margin-top: 10px;
  font-weight: 600;
}
</style>

<template>
  <div class="menu d-flex flex-column">
    <p class="menu__headline">Actions</p>
    <Actions/>

    <p class="menu__headline">Theme</p>
    <Theme/>

    <p class="menu__headline">Labels</p>
    <Labels/>

    <p class="menu__headline">Energy</p>
    <Energy/>

    <p class="menu__headline">Classes</p>
    <Classes/>
  </div>
</template>

<script>
import Labels from "@/components/create/menu/Labels.vue";
import Energy from "@/components/create/menu/Energy.vue";
import Classes from "@/components/create/menu/Classes.vue";
import Actions from "@/components/create/menu/Actions.vue";
import Theme from "@/components/create/menu/Theme.vue";

export default {
  name: "Menu",
  components: {
    Labels,
    Energy,
    Classes,
    Actions,
    Theme
  },
  data: function() {
    return {};
  },
  methods: {}
};
</script>
